<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
   <test name=" Run TestNG Suite">
    <classes>
   
      <!--   <class name="tests.MultiSitemapTestCase"/>   -->
      <!--   <class name="tests.SitemapHeaderFooterValidator"/> -->
      <!--  <class name="tests.FullPageCTARedirectionValidatorTest"/>  -->
 
      <class name="tests.MultiSitemapLoginTest"/> 
 <!-- <class name="tests.HeaderFooterChecker"/> -->
<!--    <class name="tests.LoginFullSiteHeaderFooterValidator"/>  -->
  <!--  <class name="tests.LoginBasedSitemapHeaderFooterValidator"/>-->
  
<!--  <class name="tests.SiteMapFullPageValidatorTest"/>-->
   <!--    <class name="tests.LoginFullSiteCTAValidator"/> -->

 <!--  <class name="tests.SiteMapFullSiteCTAValidator"/>-->
 
 <!--  <class name="tests.WebsiteCTAChecker"/> -->

    </classes>
  </test>
</suite> <!-- Suite -->





