name: Run Single Selenium Test

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run-single-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Install ChromeDriver
        uses: nanasess/setup-chromedriver@v2

      - name: Run MultiSitemapTestCase
        run: mvn -Dtest=MultiSitemapTestCase test

   
      - name: Upload Extent Report
        uses: actions/upload-artifact@v4
        with:
          name: extent-report
          path: |
            test-output/
            **/test-output/
            extent-report/
            **/extent-report/

   
      - name: Upload Screenshots
        uses: actions/upload-artifact@v4
        with:
          name: screenshots
          path: |
            screenshots/
            **/screenshots/

      
      - name: Upload Logs
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: |
            logs/
            **/logs/
